version: '3.9'

services:
  api:
    container_name: catat_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    restart: always
    environment:
      NODE_ENV: production
      DATABASE_URL: '${DATABASE_URL}'
    networks:
      - catat_network

networks:
  catat_network:
    driver: bridge
